<article class="{{post_class}}">
  <header class="post-header">
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
      <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
  </header>
  <section class="post-content">
    {{content}}
  </section>
  <footer class="post-meta">
  </footer>
</article>
