<article class="{{post_class}}">
  <header class="post-header">
      <time pubdate="pubdate" class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
      <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
  </header>
  <section class="post-content">
    <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&hellip;</a></p>
  </section>
</article>
